@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba tecnica.</h1>
    <p class="lead">Esta prueba es para la evaluacion de nivel de desarrollo.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        
        <p>
            Dar de alta una categoria.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("getCreate","Categories")">Click aqui. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
      
        <p>Da de alta algun producto.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create","Products")">Click aqui. &raquo;</a></p>
    </div>
    
</div>